main    {
    margin-top: 89px;

    width: 935px;
}

/* Seção stories */

.stories {
    align-items: center;

    background: #FFFFFF;

    border: 1px solid #DBDBDB;

    border-radius: 3px;

    display: flex;

    height: 118px;

    overflow: hidden;

    position: relative;

    width: 614px;
}

.story  {
    margin-left: 20px;

    text-align: center;
}

.story__background {
    height: 66px;

    position: relative;

    width: 66px;
}

.story__imagem {
    height: 56px;

    left: 5px;

    position: absolute;

    top: 5px;

    width: 56px;
}

.story__user    {
    color: #262626;

    font-size: 12px;

    font-weight: 400;

    margin-top: 5px;
}

.stories__icon  {
    color: #FFFFFF;

    cursor: pointer;

    font-size: 32px;

    position: absolute;

    right: 0;
}

/* Seção posts */

.posts  {
    margin-top: 25px;
    margin-bottom: 50px;
}

.post   {
    background: #FFFFFF;

    border: 1px solid #DBDBDB;

    height: 749px;

    width: 614px;
}

.post:nth-child(2)  {
    margin-top: 60px;
}

.topo   {
    align-items: center;

    display: flex;

    width: 614px;

    justify-content: space-between;
}

.topo__secao_1  {
    align-items: center;

    display: flex;

    justify-content: center;

    margin-top: 10px;
}

.topo__imagem   {
    height: 32px;

    margin-left: 15px;

    width: 32px;
}

.topo__legenda  {
    color: #262626;

    font-size: 14px;

    font-weight: 500;

    margin-left: 15px;
}

.topo__secao_2  {
    margin-top: 10px;
}

.topo__icon {
    font-size: 16px;

    margin-right: 15px;
}

.meio   {
    margin-top: 15px;
}

.meio__foto {
    height: 612px;

    width: 612px;
}

.final  {
    margin-top: 12px;
}

.final__secao_1 {
    align-items: center;

    display: flex;

    justify-content: space-between;
}

.secao_1_1  {
    margin-left: 15px;
}

.final__icon   {
    font-size: 20px;
}

.final__icon:nth-child(2)   {
    margin: 0 10px;
}

.secao_1_2  {
    margin-right: 15px;
}

.final__secao_2 {
    align-items: center;

    display: flex;

    margin-top: 12px;
}

.final__imagem  {
    height: 20px;

    margin-left: 15px;

    width: 20px;
}

.final__texto   {
    font-size: 14px;

    font-weight: 300;

    padding-left: 5px;
}

.negrito    {
    font-weight: 500;
}